@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

.toggle-icon-styles {
    color: rgb(17, 17, 17) !important;
    font-size: 30px !important;
}

.navbar-light .navbar-toggler {
    border-color: #fff !important;
}

.navbar-toggler:active {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-link,
.active-nav {
    color: rgb(17, 17, 17) !important;
    font-size: 18px !important;
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    padding: 0 !important;
}
.active-nav {
    text-decoration-color: rgb(17, 17, 17) !important;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.nav-link:hover {
    text-decoration-color: rgb(17, 17, 17) !important;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}
.section-height{
    height: calc(100vh - (72px))
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
        padding-top: 20px;
    }

    .active-nav {
        text-underline-offset: 5px;
    }

    .nav-link:hover {
        text-underline-offset: 5px;
    }
}